<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template HTML</title>
</head>
<body>
  <%- include("modules/_menu.ejs") %>
  <h1>This is a test page!</h1>
  <div id="react-root"></div>
  <img src="../img/icon.png" alt="">
  <img src="../img/thumbnail.jpg" alt="">
</body>
</html>